body {
    padding: 0;
    margin: 0;
}

#app {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

button {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    cursor: pointer;
}

input {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    outline: inherit;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

h1, h2, h3, h4 {
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;
}

p {
    padding: 0;
    margin: 0;
}

header {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: rgba(211, 211, 211, 0.4);
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 1300px;
    height: 90px;
    padding: 0 50px;
    margin: 0 auto;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 600px;
}

.nav__link {
    font-size: 24px;
}

.form-page {
    margin-top: 45px;
}

.form__container {
    max-width: 1260px;
    padding: 0 40px;
    margin: 0 auto;
}

.form__header {
    display: flex;
    justify-content: space-between;
}

.title {
    position: relative;
    padding-bottom: 5px;
    
    font-size: 48px;
}

.title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    
    width: 240px;
    height: 3px;

    background-color: #BB1A1A;
}

.form__title {
    margin-bottom: 20px;
}

.subtitle {
    font-size: 24px;
}

.form__scale {
    width: 400px;
}

.scale__title {
    font-size: 30px;
    text-align: center;
}

.scale__list {
    display: flex;
    justify-content: space-between;

    margin-top: 25px;
}

.scale__item {
    width: 45px;
    height: 45px;

    border-radius: 50%;
    border: 1px solid #000;

    font-size: 24px;
}

.scale__item--active {
    background-color: #cacfd6;
}

.block-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin-top: 100px;
}

.form__block {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 400px;
    height: 90px;
    padding: 20px;
    margin-bottom: 30px;

    border-radius: 12px;
    box-sizing: border-box;
    box-shadow: 0px 12px 7px 0px rgba(34, 60, 80, 0.2);

    background-color: #f6f6f6;
}

.form__input-wrapper {
    position: absolute;
    left: 0;
    bottom: -170px;
    z-index: 5;

    display: flex;
    flex-direction: column;
}

.form__textarea {
    width: 200px;
    height: 100px;
    padding: 20px;

    resize: none;
    outline: none;
    border: none;
    border-radius: 12px 12px 0 0;

    background-color: #e5e9ef;
}

.textarea__submit {
    width: 100%;
    height: 30px;
    border-radius: 0 0 12px 12px;

    background-color: #cacfd6;
}

.block__title {
    font-size: 18px;
}

.block__main {
    position: relative;
    z-index: 5;

    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 150px;
    height: 50px;

    border-radius: 12px;
    cursor: pointer;

    font-size: 16px;

    background-color: #cacfd6;
}

.block__main:hover {
    background-color: #c5c5c5;
}

.block__main1 {
    justify-content: center;

    font-size: 24px!important;
}

.toggle-wrapper {
    margin-right: 20px;
}

.block__toggle1 {
    transform: rotateZ(180deg);
}

.form__save {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 292px;
    height: 62px;
    margin-top: 25px;

    border-radius: 3px;

    font-size: 24px;

    background: rgba(191, 197, 206, 0.8);
}

.form__save:hover {
    background-color: rgb(239 239 239 / 80%);
}

.form__save:active {
    background-color: rgb(142 147 155 / 80%);
}

footer {
    background: rgba(211, 211, 211, 0.2);
}

.footer__container {
    display: flex;
    align-items: center;

    max-width: 1350px;
    height: 90px;
    padding: 0 40px;
    margin: 0 auto;
}

.footer__link {
    margin-right: 300px;
    font-size: 18px;
}

.footer__contacts {
    max-width: 100px;

    font-size: 18px;
    text-align: center;
}

.train-image {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.ticket-page {
    padding-top: 60px;
}

.ticket__container {
    max-width: 1300px;
    padding: 0 40px;
    margin: 0 auto;
}

.train__list {
    display: flex;
    margin-top: 25px;
    margin-bottom: 40px;
}

.train__item {
    width: 170px;
    height: 44px;
    margin-right: 30px;

    border-radius: 3px;

    font-size: 20px;

    background-color: rgba(211, 211, 211, 0.5);
}

.train__item--active {
    background-color: #BFC5CE;
}

.ticket__main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 0.3fr 0.3fr;

    border: 1px solid #000000;
}

.ticket__section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ticket__place {
    width: 80px;
    height: 100px;

    border: 1px solid #000000;

    font-size: 24px;
}

.ticket__place:hover {
   opacity: 0.6;
}

.disabled {
    background-color: #828282;
}

.no-info {
    background-color: #EAEAEB;
}

.not-recommended {
    background-color: #f5e526;
}

.recommended {
    background-color: #138017;
}

.ticket__section--wc {
    display: block;
    border: 1px solid #000000;
}

.toilet {
    margin-top: 50px;
    text-align: center;
}

.hall {
    position: relative;

    grid-column-start: 1;
    grid-column-end: 9;
    height: 80px;

    background-color: #EAEAEB;
}

.window {
    position: absolute;
    bottom: 0;

    width: 90px;
    height: 6px;

    border-radius: 20px;

    background: #008CCD;
}

.window1 {
    left: 250px;
}

.window2 {
    left: 650px;
}

.window3 {
    left: 1040px;
}

.ticket__info {
    display: flex;
    justify-content: space-between;

    width: 700px;
    margin-top: 20px;
}

.info__item {
    display: flex;
    align-items: center;
}

.info__color {
    display: block;

    width: 36px;
    height: 36px;

    border: 1px solid #000;
}

.info__text {
    margin-left: 10px;
}

.ticket__buy {
    width: 345px;
    height: 60px;
    margin-top: 60px;

    border-radius: 2px;

    font-size: 24px;

    background: rgba(191, 197, 206, 0.8);
}

.ticket__buy:hover {
    background-color: rgb(239 239 239 / 80%);
}

.ticket__buy:active {
    background-color: rgb(142 147 155 / 80%);
}

.rate-page {
    padding-top: 150px;
}

.rate__container {
    max-width: 1060px;
    margin: 0 auto;
}

.rate__background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 30px 0;

    border-radius: 10px;
    background: rgba(144, 156, 170, 0.2);
}

.rate__title {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 860px;
    height: 50px;
    margin-bottom: 25px;
    border-radius: 2px;

    font-size: 36px;

    background: rgba(138, 176, 210, 0.5);
}

.rate__main {
    display: flex;
}

.info__title {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 625px;
    height: 40px;
    margin-bottom: 25px;

    border-radius: 2px;

    font-size: 30px;

    background: rgba(138, 176, 210, 0.25);
}

.rate__info {
    margin-bottom: 25px;
}

.rate__photo {
    width: 213px;
    height: 213px;

    margin-right: 25px;
}

.rate__list {
    display: flex;
    justify-content: space-between;
}

.rate__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 190px;
    height: 150px;
    padding: 15px;

    box-sizing: border-box;
    border-radius: 15px;

    font-size: 24px;
    text-align: center;

    background: rgba(138, 176, 210, 0.25);
}

.item__stat {
    font-size: 20px;
}

.star-list {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 860px;
    height: 85px;
    margin-bottom: 25px;
    border-radius: 2px;

    background: rgba(138, 176, 210, 0.5);
}

.star {
    margin: 0 20px;
}

.footer__button {
    width: 980px;
    height: 70px;
    border-radius: 2px;

    font-size: 30px;

    background: rgba(138, 176, 210, 0.5);
}

.other__title {
    display: flex;
    align-items: center;

    height: 60px;
    padding-left: 30px;
    margin-top: 30px;
    margin-bottom: 40px;

    font-size: 36px;

    background: rgba(144, 156, 170, 0.2);
    border-radius: 10px;
}

.other__list {
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 125px;
    border-radius: 10px;

    background: rgba(144, 156, 170, 0.2);
}

.rate__back {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 50px;
    margin-top: 25px;

    border: 1px solid rgba(191, 197, 206, 0.8);

    font-size: 24px;
}